button.btn {
    cursor: pointer;
    background-color: #538adc;
    color: white;
    padding: 1px 6px;
    border-color: #3B5998;
    border-top: 1px;
    border-left: 1px;
    border-width: thin;
    max-height: 16px;
    font-size: 11px;
    text-align: center;

}