.card {
	border: thin solid #3b5998;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.card.card-dashed {
	border: dashed #3b5998;
	display: flex;
	flex-direction: column;
	padding: 2px 4px 24px 4px;
	gap: 2px;
	border-width: 1px;
}

.card-title {
	color: white;
	padding: 4px 2px;
	background-color: #3b5998;
}

.card .card-content {
	padding: 12px 8px 0px 8px;
	gap: 4px;
	padding-bottom: 12px;
	gap: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
