* {
	box-sizing: border-box;
}

#wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 0px 0px 24px 0px;
	border-width: 1px;
	border: thin solid #3b5998;
	width: 642px;
	min-height: 487.9px; /*check here max-heigth:487.9px*/
}

main {
	display: flex;
	flex-direction: row;
	gap: 4px;
	padding: 4px;
	/*check here size for min-heigh wrapper*/
}

aside {
	display: flex;
	flex-direction: column;
	border-width: 1px;
	border-color: #3b5998;
	padding: 2px 4px 24px 4px;
	gap: 2px;
}

#card-display {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
